<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./plugins/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="./css/toastr.css">
    <!-- CSS Index -->
    <link rel="stylesheet" href="./css/dashboard.css">

    <title>Página Administrativa</title>
</head>

<body>
    <div id="app">
        <div id="loading">
            <div class="row">
                <div class="col-sm-12 text-center mt-5">
                    <br><br>
                    <img src="./img/loading.gif" alt=""> <br>
                </div>
            </div>
        </div>
        <div id="no-loading" class="d-none">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <a class="navbar-brand"><img src="./img/logo-option-maker.png" width="30">
                    <strong>OptionMaker</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item ">
                            <a class="pointer link-menu nav-link hide-usuario" href="usuarios.html">
                                <i class="fa fa-plus"></i> Cadastrar Usuários
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="pointer nav-link">
                                &nbsp;&nbsp;
                                <i class="fa fa-user"></i>
                                Bem vindo, <span id="nome_usuario"></span>!
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="pointer nav-link text-danger" v-on:click="logout()">
                                <i class="fa fa-sign-out"></i> Sair
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>




            <div class="container">
                <div class="row pt-5 mt-5">
                    <div class="col-sm-12 col-md-12 pt-2">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <h5 class="card-header">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <i class="fa fa-list"></i> Pastas
                                                <!-- <a href="./php/relatorioParticipantesConcluidos.php" target="_blank"
                                                class="btn btn-danger btn-sm pull-right"> <i class="fa fa-qrcode"></i> </a> -->
                                            </div>
                                            <div class="col-sm-2 text-right hide-usuario">
                                                <a v-on:click="addPasta()"
                                                    class="btn btn-danger btn-sm text-white btn-block"> <i
                                                        class="fa fa-plus"></i> Adicionar </a>
                                            </div>
                                        </div>
                                    </h5>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3 text-center p-3 m-1"
                                                v-if="pastas != null" v-for="p in pastas"
                                                style="border: 1px solid #ddd;">
                                                <a :href="__BASE_URI__ + 'dashboard.html?pasta=' + p.pasta_id">
                                                    <h3><i class="fa fa-folder"></i> <br> {{ p.pasta_nome }}</h3>
                                                </a>
                                                <div class="row justify-content-between hide-usuario">
                                                    <div class="col-12 mb-2">
                                                        <button class="btn btn-secondary btn-block btn-sm"
                                                            v-on:click="modalUsuario(p)">
                                                            <i class="fa fa-user"></i> Vincular usuários
                                                        </button>
                                                    </div>

                                                    <div class="col-4">
                                                        <a class="btn btn-info btn-block btn-sm"
                                                            :href="__BASE_URI__ + 'dashboard.html?pasta=' + p.pasta_id">
                                                            <i class="fa fa-list"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-4">
                                                        <button class="btn btn-primary btn-block btn-sm"
                                                            v-on:click="editPasta(p)">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                    </div>
                                                    <div class="col-4" v-if="p.qtd_pergunta == 0">
                                                        <button class="btn btn-danger btn-block btn-sm"
                                                            v-on:click="prepareRemovePasta(p.pasta_id)">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                            <div v-if="pastas == null" class="col-12">
                                                <h4>Nenhuma pasta encontrada</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="modalAddPasta" role="dialog" aria-labelledby="modalAddPasta"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel"><i class="fa fa-plus"></i>
                                        <strong>Adicionar Pasta</strong>
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label for="Pasta_titulo">Título da Pasta</label>
                                    <input type="text" class="form-control" id="Pasta_titulo">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary"
                                        v-on:click="salvaPasta()">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal add -->
                    <div class="modal fade" id="modalUsuario" role="dialog" aria-labelledby="modalAddPasta"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" v-if="pasta_atual != null">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel">
                                        <strong>{{ pasta_atual.pasta_nome }}</strong>
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body mb-2" >
                                    <div class="row mb-2">
                                        <div class="col-12">
                                            <label for="usuarios_nao_vinculado">Usuários não vinculado</label>
                                        </div>
                                        <div class="col-9">                                            
                                            <select id="usuarios_nao_vinculado" class="form-control">
                                                <option v-if="usuarios_nao_vinculados != null" v-for="u in usuarios_nao_vinculados" :value="u.usuario_id">{{ u.usuario_login }}</option>
                                            </select>
                                        </div>
                                        <div class="col-3 align-self-end">
                                            <button class="btn btn-primary btn-block" v-on:click="vincula_usuario()"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>

                                    <!-- usuarios vinculado -->
                                    <div class="row" v-if="usuarios_vinculados != null" v-for="u in usuarios_vinculados">
                                        <div class="col-12">
                                            <hr>
                                        </div>
                                        <div class="col-9">
                                            {{ u.usuario_login }}
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-danger btn-sm btn-block" v-on:click="remove_usuario(u.pasta_usuario_id)"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                    <!-- usuarios vinculado -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal add -->
                    <div class="modal fade" id="modalEditPasta" tabindex="-1" role="dialog"
                        aria-labelledby="modalAddPasta" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel"><i class="fa fa-plus"></i>
                                        <strong>Editar Pasta</strong>
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" id="Pasta_id_edit">
                                    <label for="Pasta_titulo_edit">Título da Pasta</label>
                                    <input type="text" class="form-control" id="Pasta_titulo_edit">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary"
                                        v-on:click="editaPasta()">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- MODAL REMOVE -->
                    <div class="modal fade" id="modalRemovePasta" tabindex="-1" role="dialog"
                        aria-labelledby="modalAddPasta" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel"><i class="fa fa-trash"></i>
                                        <strong>Remover Pasta</strong>
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <h5>Tem certeza de que deseja remover esta Pasta? Essa ação não poderá ser desfeita.
                                    </h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary"
                                        v-on:click="removePasta()">Remover</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <!-- Scripts -->
    <script src="./plugins/jquery.js"></script>
    <script src="./plugins/bootstrap/bootstrap.js"></script>
    <script src="./plugins/vue.js"></script>
    <script src="./js/toastr.js"></script>
    <!-- Constantes -->
    <script src="./js/constantes.js"></script>

    <!-- Autenticacao -->
    <script src="./js/autenticacao.js"></script>

    <!-- JS Index -->
    <script src="./js/pastas.js"></script>


    <script>
        setTimeout(() => {
            if (localStorage.getItem('usuario_status_optionmaker') > 1) {
                $(".hide-usuario").hide();
            }
        }, 150);
    </script>
</body>

</html>